@import "../../../assets/scss/global";

.command-bar {
  display: block;
  width: 100%;
  height: $commandbar-height;
  -webkit-user-select: auto;
  -webkit-user-drag: auto;
  -webkit-app-region: drag;
}

.side-bar {
  display: block;
  float: left;
  width: $menubar-width;
  height: calc(100vh - #{$commandbar-height});
  border-right: 1px solid $silver-75;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.2s ease;

  &.collapsed {
    width: 0;
    border-right-width: 0; // a leftover 1px border would push the floated list onto a new line
  }
}

.sessions {
  position: relative;
  display: block;
  float: right;
  width: calc(100% - #{$menubar-width});
  height: calc(100vh - #{$commandbar-height});
  overflow: hidden;
  transition: width 0.2s ease;
  &.full-width {
    width: 100%;
  }
  &.filtered:not(.option-bar-opened) {
    height: calc(100vh - #{$commandbar-height} - 51px);
  }
  &.option-bar-opened:not(.filtered) {
    height: calc(100vh - #{$commandbar-height} - 60px);
  }
  &.option-bar-opened.filtered {
    height: calc(100vh - #{$commandbar-height} - 111px);
  }
}
